{% extends "base_start.html" %}

{% block title %}
Главная страница
{% endblock %}

{% block content %}
<main class="px-3 align-middle">
    <h1 class="item">Добро пожаловать!</h1>
    <p class="lead">Здесь вы можете изучить всю информацию о колледжах Московской области. Например, у нас вы можете посмотреть информацию о самом колледже, его направлениях, формах обучения и количестве мест(на бюджетной и платной основах).</p>
    <p class="lead">
        <a href="/colleges" class="btn btn-primary btn-light fw-bold border-white bg-white">Подробнее</a>
    </p>
</main>
{% endblock %}

