 @media print {
    @page {
      size: auto;
      margin: 5mm 10mm 10mm 20mm;
             / * Портрет * /
      size: portrait;

             / * По горизонтали * /
      size: landscape;

    }

	.item {
		page-break-inside: avoid;
	}

    .noprint {
        display: none;
    }

    .print {
        display: block;
    }

	html, body, h5 {
		font-size: 14px;
	}

	h1 {
		font-size: 24px;
	}
	h2 {
		font-size: 20px;
	}
	h3 {
		font-size: 18px;
	}

    /*p a[href^="#"]:after {
        display: none;
    }*/
}